.addbtn {
  position: fixed;
  bottom: 30px;
  border: none;
  outline: 1px solid aqua;
  right: 30px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 8px rgb(0, 255, 255, 0.5);
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  z-index: 99;
}
.addbtn:hover {
  transition: 0.8s;
  background: rgb(0, 255, 255, 0.5);
  color: black;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-container {
  border: 2px solid rgb(88, 194, 62);
  display: flex;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.editbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: 1px solid aqua;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 8px rgb(0, 255, 255, 0.5);
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
}
.editbtn:hover {
  transition: 0.8s;
  background: rgb(0, 255, 255, 0.8);
  color: black;
}
.deletbtn {
  position: absolute;
  top: 20px;
  right: 10rem;
  border: none;
  outline: 1px solid aqua;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 8px rgb(0, 255, 255, 0.5);
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
}
.deletbtn:hover {
  transition: 0.8s;
  background: rgb(0, 255, 255, 0.8);
  color: black;
}
.deletbtn .deleteIcon {
  font-size: 20px;
  color: purple;
}
.product-images {
  display: flex;
  padding: 20px;
}
.product-info {
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ======================Media queries=================== */
@media (max-width: 1200px) {
  .product-container {
    flex-direction: column;
    border: 3px solid salmon;
  }
  .product-images {
    flex-direction: column;
    gap: 10px;
    order: 2;
  }
  .product-info {
    order: 1;
  }
}
